
.main {
	padding: 34px 0 70px;
	display: grid;
	align-content: start;
	row-gap: 50px;
	height: 100%;
	flex: 1 0 auto;
}
@media screen and (max-width: 1023px) {
	.main {
		padding: 40px 19px 66px;
	}
}
@media screen and (max-width: 767px) {
	.main {
		padding: 42px 19px 51px;
		row-gap: 36px;
	}
}